@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Vehicle</h4>
<form method="post" class="forms-sample">
    <div class="form-group">
        <label for="VehicleName">Vehicle Name</label>
                            <input type="text" class="form-control" id="VehicleName" placeholder="Name" name="VehicleName" required />
    </div>
    <div class="form-group">
                            <label for="OwnerName">Vehicle OwnerName</label>
                            <input type="text" class="form-control" id="OwnerName" placeholder="OwnerName" name="VehicleOwnerName" required />
    </div>
    <div class="form-group">
                            <label for="VehicleModel">Vehicle Model</label>
                            <input type="text" class="form-control" id="VehicleModel" placeholder="Model" name="VehicleModel" required />
    </div>
    <div class="form-group">
                            <label for="VehicleModel">Vehicle Version</label>
                            <input type="text" class="form-control" id="VehicleVersion" placeholder="Version" name="VehicleVersion" required />
    </div>
    <div class="form-group">
                            <label for="VehicleRate">Vehicle Rate</label>
                            <input type="number" class="form-control" id="VehicleRate" placeholder="Rate" name="VehicleRate" required />
    </div>
                        <div class="form-group">
                            <label for="VehicleRate">Vehicle Warranty</label>
                            <input type="text" class="form-control" id="VehicleWarranty" placeholder="Warranty" name="VehicleWarranty" required />
                        </div>
    <div class="form-group">
                            <label for="VehicleBodyNumber">Vehicle BodyNumber</label>
                            <input type="text" class="form-control" id="VehicleBodyNumber" placeholder="BodyNumber" name="VehicleBodyNumber" required />
    </div>
    <div class="form-group">
                            <label for="VehicleEngineNumber">Vehicle EngineNumber</label>
                            <input type="text" class="form-control" id="VehicleEngineNumber" placeholder="EngineNumber" name="VehicleEngineNumber" required />
    </div>
    <div class="form-group">
        <label for="VehicleNumber">Vehicle Number</label>
                            <input type="text" class="form-control" id="VehicleNumber" placeholder="Number" name="VehicleNumber" required />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
                        <a href="@Url.Action("index","vehicle")" class="btn btn-light">Cancel</a>
</form>
                </div>
            </div>
        </div>
    </div>
</div>

